<ion-header >
  <ion-toolbar class="new-background-color">
    
    <ion-title class="ion-text-center"> <ion-text color="light">Registr</ion-text> <ion-text color="warning">APP</ion-text></ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="menuUsuario()">
        <ion-icon slot="icon-only" name="person-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-text-center">
  <img src="assets/perfil.jpg" class="ion-padding">
    
  <ion-label>Nombres: Juan Emilio</ion-label>
  <br><br>
  <ion-label>Apellido: Escobar Ruiz</ion-label>
  <br><br>
  <ion-label>Rut: 19376726-5</ion-label>
  <br><br>
  <ion-label>Correo: juane.escr@duocuc.cl</ion-label>
  <br><br>
  <ion-label>Carrera: Ingenieria en Informatica</ion-label>
  <br><br>
  <ion-label>Sede: Maipú</ion-label>
 
  </form> 


</ion-content>
