<ion-header >
  <ion-toolbar class="new-background-color">
    
    <ion-title class="ion-text-center"> <ion-text color="light">Registr</ion-text> <ion-text color="warning">APP</ion-text></ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="menuUsuario()">
        <ion-icon slot="icon-only" name="person-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  


  
  <ion-text class="ion-text-center">
    <h3>ESCANEA EL CODIGO QR QUE TE MOSTRARÁ TU DOCENTE</h3>
  </ion-text>

  <img src="assets/leerqr.jpg" class="ion-padding">
  
 
</ion-content>
